// Variables
$color-text: white;
$color-primary: rgb(227 44 137);
$color-paragraph: #777;
$color-bg: black;
$color-bg-light: rgb(249 228 227);
$transition: 0.5s;
$padding-section: 60px;
$border-radius: 50px;
$border-radius-btn: 30px;

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin pseudo-element($width: 100%, $height: 3px, $bg: white) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
  background-color: $bg;
}

// Global Rules
* {
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: $color-bg;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

// Header
.Head {
  background-image: url(../assets/images/Imges/Img-One.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;

  .list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: $color-text;
  }

  ul {
    display: flex;

    li {
      margin-right: 20px;
      color: $color-text;
      position: relative;

      &:hover::before {
        width: 100%;
      }
    }

    a li::before {
      @include pseudo-element(0, 3px, white);
      bottom: -8px;
      transition: $transition;
    }
  }

  .text {
    text-align: center;
    font-size: 50px;
    margin-top: 165px;
    color: $color-text;
  }
}

// Section
.Section {
  display: flex;
  gap: 100px;

  .parent {
    background-color: $color-bg-light;
    padding: 15px;
    width: 800px;

    .F-One {
      display: flex;
      align-items: center;
      gap: 30px;
      text-align: center;

      &.imgs img {
        height: 200px;
      }

      h2 {
        color: $color-primary;
        position: relative;

        &::before {
          @include pseudo-element(47%, 2px, $color-primary);
          bottom: -1px;
          right: 48px;
        }
      }

      .Text .Price p {
        color: $color-primary;
        font-weight: bold;
      }
    }
  }

  .Parent-Two {
    text-align: center;
    width: 600px;

    .Text {
      h2 {
        color: $color-text;
      }

      p {
        color: $color-paragraph;
      }
    }

    p {
      color: $color-primary;
      font-size: 18px;
    }

    .icons i {
      margin-right: 35px;
      font-size: 20px;
      color: $color-text;

      &:nth-child(3) {
        color: $color-primary;
      }
    }
  }
}

button {
  width: 165px;
  height: 45px;
  padding: 5px;
  border-radius: $border-radius-btn;
  border: none;
  background-color: $color-primary;
  color: $color-text;
  position: relative;
  font-weight: bold;

  &::before {
    content: "\f290";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 15px;
  }
}

// Gallery
.Gallery {
  padding-top: $padding-section;
  padding-bottom: $padding-section;

  h2 {
    margin-left: 20px;
    color: $color-text;
  }

  .container .Parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    text-align: center;
    justify-content: center;

    .Price {
      display: flex;
      justify-content: space-around;
      position: relative;

      p {
        color: $color-text;
        font-weight: bold;
        font-size: 18px;

        &:nth-child(2) {
          opacity: 0.4;
        }
      }
    }

    .Imgs {
      position: relative;
      border-radius: $border-radius;
      overflow: hidden;

      &::before {
        @include pseudo-element(100%, 100%, rgba(0, 0, 0, 0.85));
        bottom: 0;
        z-index: 2;
        transition: $transition;
        border-radius: $border-radius;
        opacity: 0;
        @include flex-center;
        padding: 40px;
        text-align: center;
        font-size: 18px;
        color: $color-text;
        line-height: 1.8;
        word-spacing: 2px;
      }

      &:hover::before {
        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iste ducimus!';
        opacity: 1;
      }
    }

    img {
      height: 450px;
      border-radius: $border-radius;
    }
  }
}

// Footer
footer {
  padding-top: $padding-section;

  .Imgs img {
    width: 100%;
  }

  .Links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 130px;
    padding: 20px;

    p {
      color: $color-text;
    }

    ul li {
      margin-top: 15px;
      color: $color-paragraph;
    }
  }

  .Icons {
    text-align: center;
    color: $color-text;
    margin-left: 5px;
    padding-bottom: 25px;
    margin-top: 10px;

    i {
      margin-left: 15px;
      font-size: 18px;
    }
  }

  .Copy-Right {
    color: $color-text;
    text-align: center;
    padding: 15px;

    > span {
      color: cyan;
    }
  }
}
