@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin pseudo-element($width: 100%, $height: 3px, $bg: white) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
  background-color: $bg;
}

@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
