// Colors
$color-text: white;
$color-primary: rgb(227 44 137);
$color-paragraph: #777;
$color-bg: black;
$color-bg-light: rgb(249 228 227);

// Spacing
$padding-section: 60px;

// Border Radius
$border-radius: 50px;
$border-radius-btn: 30px;

// Transition
$transition: 0.5s;

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
