.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include respond-to($breakpoint-sm) {
    width: 750px;
  }

  @include respond-to($breakpoint-md) {
    width: 970px;
  }

  @include respond-to($breakpoint-lg) {
    width: 1170px;
  }
}
