* {
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: $color-bg;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
